gwml2-xml/src/main/xsd/gwml2-nucleus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Eric Boisvert (Natural Resources Canada) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gsmlgu="http://xmlns.geosciml.org/GeologicUnit/3.2" xmlns:gwml2f="http://www.opengis.net/gwml-flow/2.0" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gwml2c="http://www.opengis.net/gwml-constituent/2.0" xmlns:gsmlem="http://xmlns.geosciml.org/EarthMaterial/3.2" xmlns:om="http://www.opengis.net/om/2.0" xmlns:gwml2="http://www.opengis.net/gwml-nucleus/2.0" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://www.opengis.net/gwml-nucleus/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>Logical Model for GroundWaterML version 2.0 containing the core elements required for groundwater data. Other GWML2 application schema import this schema.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
	<import namespace="http://xmlns.geosciml.org/EarthMaterial/3.2" schemaLocation="http://schemas.geosciml.org/earthmaterial/3.2/earthMaterial.xsd"/>
	<import namespace="http://xmlns.geosciml.org/GeologicUnit/3.2" schemaLocation="http://schemas.geosciml.org/geologicunit/3.2/geologicUnit.xsd"/>
	<import namespace="http://www.opengis.net/gwml-flow/2.0" schemaLocation="http://ngwd-bdnes.cits.nrcan.gc.ca/service/gwml/schemas/gwml2-flow.xsd"/>
	<import namespace="http://www.opengis.net/gwml-constituent/2.0" schemaLocation="http://ngwd-bdnes.cits.nrcan.gc.ca/service/gwml/schemas/gwml2-constituent.xsd"/>
	<element name="GW_Basin" type="gwml2:GW_BasinType" substitutionGroup="gwml2:GW_HydrogeoUnit">
		<annotation>
			<documentation>A large hydrogeologically defined body of ground typically consisting of hydraulically connected hydrogeological units, whose waters are flowing to a common or multiple outlets, and which is delimited by a groundwater divide.</documentation>
		</annotation>
	</element>
	<complexType name="GW_BasinType">
		<complexContent>
			<extension base="gwml2:GW_HydrogeoUnitType">
				<sequence>
					<element name="gwDivide" type="gwml2:GW_DividePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Line on a water table or piezometric surface on either side of which the groundwater flow diverges. IGH0556. </documentation>
						</annotation>
					</element>
					<element name="gwBasinUnit" type="gwml2:GW_HydrogeoUnitPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_BasinPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_Basin"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_AquiferUnit" type="gwml2:GW_AquiferUnitType" abstract="true" substitutionGroup="gwml2:GW_HydrogeoUnit"/>
	<complexType name="GW_AquiferUnitType" abstract="true">
		<complexContent>
			<extension base="gwml2:GW_HydrogeoUnitType">
				<sequence>
					<element name="gwAquiferSystem" type="gwml2:GW_AquiferSystemPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_AquiferUnitPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_AquiferUnit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_ManagementArea" type="gwml2:GW_ManagementAreaType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Area of ground identified for groundwater management purposes and can be delineated by human factors such as policy or regulation concerns, as well as hydrogeological or hydrological concerns. Does not necessarily align exactly with hydrogeological or hydrological boundaries.</documentation>
		</annotation>
	</element>
	<complexType name="GW_ManagementAreaType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwAreaFeature" type="gml:FeaturePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwAreaMetadata" type="gmd:MD_Metadata_PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwAreaShape" type="gml:GeometryPropertyType" nillable="true">
						<annotation>
							<documentation>Geometric shape and position of management area.</documentation>
						</annotation>
					</element>
					<element name="gwAreaType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Type of management area, e.g. restricted use zone, irrigation area, consumption area, etc. TBD</documentation>
						</annotation>
					</element>
					<element name="gwAreaWaterBudget" type="gwml2f:GW_WaterBudgetPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwAreaYield" type="om:OM_ObservationPropertyType" nillable="true">
						<annotation>
							<documentation>Type of yields (of the aquifer or management area): e.g. specific yield, safe yield, license yield etc. but  excludes well yield.  TBD</documentation>
						</annotation>
					</element>
					<element name="gwManagedUnit" type="gwml2:GW_HydrogeoUnitPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwAreaBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwAreaLicence" type="gwml2:GW_LicencePropertyType" nillable="true">
						<annotation>
							<documentation>The licence under which the ManagementArea is managed.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_ManagementAreaPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_ManagementArea"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_HydrogeoVoid" type="gwml2:GW_HydrogeoVoidType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Voids represent the spaces inside (hosted by) a unit or its material. E.g. the pores in an aquifer, or in the sandstone of an aquifer. Voids are hosted by a container (e.g. an aquifer), and can contain water bodies. Voids are differentiated from 'porosity' in that porosity is the proportion of void volume to total volume (i.e. container + voids), while voids are the spaces themselves. Their delineation as a distinct entity is necessary, for example, to capture the volume of fractures in an aquifer.</documentation>
		</annotation>
	</element>
	<complexType name="GW_HydrogeoVoidType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwVoidHostMaterial" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>The material that hosts the void. Note voids can be hosted by a unit (an aquifer) or its material (e.g. sandstone).</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gsmlem:EarthMaterial"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="gwVoidMetadata" type="gmd:MD_Metadata_PropertyType" nillable="true"/>
					<element name="gwVoidShape" type="gml:GeometryPropertyType" nillable="true">
						<annotation>
							<documentation>Shape of the void.</documentation>
						</annotation>
					</element>
					<element name="gwVoidType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>e.g. fractured, intergranular, etc.</documentation>
						</annotation>
					</element>
					<element name="gwVoidVolume" type="om:OM_ObservationPropertyType" nillable="true">
						<annotation>
							<documentation>Volume of the void.</documentation>
						</annotation>
					</element>
					<element name="gwVoidFluidBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
					<!--<element name="gwVoidUnit" type="gwml2:GW_HydrogeoUnitPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>-->
					<element name="gwVoidUnit" type="gwml2:GW_UnitVoidPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwVoidPartOf" type="gwml2:GW_HydrogeoVoidPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwPartOfVoid" type="gwml2:GW_HydrogeoVoidPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_HydrogeoVoidPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_HydrogeoVoid"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_FluidBody" type="gwml2:GW_FluidBodyType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A distinct body of some fluid (liquid, gas) that fills the voids of a container such as an aquifer, system of aquifers, water well, etc; in hydrogeology this body is usually constituted from groundwater, but the model allows for other types of fillers e.g. petroleum. </documentation>
		</annotation>
	</element>
	<complexType name="GW_FluidBodyType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwBodyFlow" type="gwml2f:GW_FlowPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Flow details for the gw body.</documentation>
						</annotation>
					</element>
					<element name="gwBodyMetadata" type="gmd:MD_Metadata_PropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Metadata about the flow body</documentation>
						</annotation>
					</element>
					<element name="gwBodyProperty" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Properties that characterize the groundwater body.
Observations of properties, e.g. age, temperature, density, viscosity, turbidity, color, hardness, acidity, etc. are OM_Observations</documentation>
						</annotation>
					</element>
					<element name="gwBodyQuality" type="gml:ReferenceType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Categorical assessment of fluid quality: e.g. saline, brackish, fresh, turbide, sulfurous, mixed, ... 1000-3000mg/l tds, etc.

A normative quality description is an assesment based upon some guideline edited by a government or a quality standard</documentation>
						</annotation>
					</element>
					<element name="gwBodyShape" type="gml:GeometryPropertyType" nillable="true">
						<annotation>
							<documentation>Shape and position of the groundwater body.</documentation>
						</annotation>
					</element>
					<element name="gwBodyVolume" type="om:OM_ObservationPropertyType" nillable="true">
						<annotation>
							<documentation>Description of the volume/quantity of water present in a container at a certain time.</documentation>
						</annotation>
					</element>
					<element name="gwBodyVulnerability" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>The susceptibility of the fluid body to specific threats such as surface contamination, etc.</documentation>
						</annotation>
					</element>
					<!--	<element name="gwFluidBodyUnit" type="gwml2:GW_HydrogeoUnitPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>-->
					<element name="gwFluidBodyUnit" type="gwml2:GW_UnitFluidPropertyPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwFluidBodyVoid" type="gwml2:GW_HydrogeoVoidPropertyType" nillable="true"/>
					<element name="gwBodyPartOf" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwBodySurface" type="gwml2:GW_BodySurfacePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<!--<element name="gwBodyConstituent" type="gwml2c:GW_ConstituentPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/> -->
					<element name="gwBodyConstituent" type="gwml2:GW_MixturePropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwBackgroundConstituent" type="gwml2c:GW_ConstituentPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwPartOfBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_FluidBodyPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_FluidBody"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_BodySurface" type="gwml2:GW_BodySurfaceType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A surface on a body of groundwater, for a local or regional area, e.g. piezometric, potentiometric, water table, salt wedge, etc.</documentation>
		</annotation>
	</element>
	<complexType name="GW_BodySurfaceType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwSurfaceShapeMetadata" type="om:OM_ObservationPropertyType" nillable="true">
						<annotation>
							<documentation>Date, time, method, etc., of the observation of the surface.</documentation>
						</annotation>
					</element>
					<element name="gwSurfaceShape" type="gml:SurfacePropertyType" nillable="true">
						<annotation>
							<documentation>Geometry / position of the surface.</documentation>
						</annotation>
					</element>
					<element name="gwSurfaceType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Type of gw body surface, e.g. piezometric, potentiometric, water table, salt wedge, etc.</documentation>
						</annotation>
					</element>
					<element name="gwSurfaceDivide" type="gwml2:GW_DividePropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwSurfaceBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_BodySurfacePropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_BodySurface"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_HydrogeoUnit" type="gwml2:GW_HydrogeoUnitType" abstract="true" substitutionGroup="gsmlgu:GeologicUnit">
		<annotation>
			<documentation>Hydrogeologic unit (1) Any soil or rock unit or zone which by virtue of its hydraulic properties has a distinct influence on the storage or movement of groundwater (after ANS, 1980).</documentation>
		</annotation>
	</element>
	<complexType name="GW_HydrogeoUnitType" abstract="true">
		<complexContent>
			<extension base="gsmlgu:GeologicUnitType">
				<sequence>
					<element name="gwUnitProperty" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>HydrologicUnit properties not covered by other specific properties</documentation>
						</annotation>
					</element>
					<element name="gwUnitMedia" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Type of material or, by proximity, type of voids (granular, fracture, karstic, or mixed)</documentation>
						</annotation>
					</element>
					<element name="gwUnitWaterBudget" type="gwml2f:GW_WaterBudgetPropertyType" nillable="true">
						<annotation>
							<documentation>Sum of water input and output of a hydrogeologic unit, at a particular point in time, with a description of inflows and outflows.</documentation>
						</annotation>
					</element>
					<element name="gwUnitRecharge" type="gwml2f:GW_RechargePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Volumetric flow rate of water that enters an hydrogeologic unit, at potentially multiple locations.</documentation>
						</annotation>
					</element>
					<element name="gwUnitDischarge" type="gwml2f:GW_DischargePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Volumetric flow rate of water that goes out of an hydrogeologic unit, at potentially multiple locations.

Also: british punk rock group.</documentation>
						</annotation>
					</element>
					<element name="gwUnitVulnerability" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>gw vulnerability
The susceptibility of the aquifer to specific threats such as various physical events (earthquakes), human processes (depletion), etc.</documentation>
						</annotation>
					</element>
					<element name="gwManagementArea" type="gwml2:GW_ManagementAreaPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<!--<element name="gwUnitFluidBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/> -->
					<!--<element name="gwUnitVoid" type="gwml2:GW_HydrogeoVoidPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/> -->
					<element name="gwUnitFluidBody" type="gwml2:GW_UnitFluidPropertyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwUnitVoid" type="gwml2:GW_UnitVoidPropertyPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_HydrogeoUnitPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_HydrogeoUnit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_Aquifer" type="gwml2:GW_AquiferType" substitutionGroup="gwml2:GW_AquiferUnit">
		<annotation>
			<documentation>A body of ground that contains / potentially contains / potentially contained sufficient saturated permeable material to yield significant quantities of water to wells and springs (after Lohman and others, 1972).</documentation>
		</annotation>
	</element>
	<complexType name="GW_AquiferType">
		<complexContent>
			<extension base="gwml2:GW_AquiferUnitType">
				<sequence>
					<element name="gwAquiferType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Water in an Aquifer is, or is not, under pressure. Based on that unconfined, confined, artesian, subartesian, or aquitard types are distinguished. (INSPIRE v3.0)</documentation>
						</annotation>
					</element>
					<element name="gwAquiferIsExploited" nillable="true">
						<annotation>
							<documentation>Boolean denotes whether groundwater from the hydrogeo unit is being exploited by wells or other intakes.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="gwAquiferIsMain" nillable="true">
						<annotation>
							<documentation>Boolean denotes whether the unit is the primary unit in an Aquifer System.

Modeling note: not implemented as an attribute of the AquiferSystem part relation, to avoid ConfiningBed being a primary unit.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="gwConfiningBed" type="gwml2:GW_ConfiningBedPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_AquiferPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_Aquifer"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_Divide" type="gwml2:GW_DivideType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Line on a water table or piezometric surface on either side of which the groundwater flow diverges. IGH0556</documentation>
		</annotation>
	</element>
	<complexType name="GW_DivideType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwDivideFlow" type="gwml2:GW_FlowSystemPropertyType" minOccurs="2" maxOccurs="unbounded">
						<annotation>
							<documentation>Flow system on each side of the divide.</documentation>
						</annotation>
					</element>
					<element name="gwDivideShape">
						<annotation>
							<documentation>Shape / position of the divide (line, plane or point)... intersecting a gw surface</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gml:AbstractGeometry"/>
							</sequence>
						</complexType>
					</element>
					<element name="gwDivideSurface" type="gwml2:GW_BodySurfacePropertyType" nillable="true"/>
					<element name="gwDivideFlow" type="gwml2:GW_FlowSystemPropertyType" nillable="true" minOccurs="2" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_DividePropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_Divide"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_FlowSystem" type="gwml2:GW_FlowSystemType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Flow path from recharge to discharge location, through hydrogeological units, and related to a groundwater body. It is a collection or aggregation of specific flows. </documentation>
		</annotation>
	</element>
	<complexType name="GW_FlowSystemType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwFlowPath" type="gml:GeometryPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwFlowSystemPart" type="gwml2:GW_FlowSystemPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwPartOfSystemFlow" type="gwml2:GW_FlowSystemPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gwFlow" type="gwml2f:GW_FlowPropertyType" nillable="true" minOccurs="2" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_FlowSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_FlowSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_AquiferSystem" type="gwml2:GW_AquiferSystemType" substitutionGroup="gwml2:GW_AquiferUnit">
		<annotation>
			<documentation>Aquifer system - A body of permeable and poorly permeable material that functions regionally as a water-yielding unit; it comprises two or more permeable beds separated at least locally by confining beds that impede groundwater movement but do not greatly affect the regional hydraulic continuity of the system; includes both saturated and unsaturated parts of permeable material (after ASCE, 1985).</documentation>
		</annotation>
	</element>
	<complexType name="GW_AquiferSystemType">
		<complexContent>
			<extension base="gwml2:GW_AquiferUnitType">
				<sequence>
					<element name="gwAquiferSystemIsLayered" nillable="true">
						<annotation>
							<documentation>True if this aquifer / system is a layered system.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="gwAquiferSystemPart" type="gwml2:GW_AquiferUnitPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_AquiferSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_AquiferSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_ConfiningBed" type="gwml2:GW_ConfiningBedType" substitutionGroup="gwml2:GW_AquiferUnit">
		<annotation>
			<documentation>A layer of rock having very low porosity and in consequence hydraulic conductivity that hampers the movement of water into and out of an aquifer (Heath 1983)</documentation>
		</annotation>
	</element>
	<complexType name="GW_ConfiningBedType">
		<complexContent>
			<extension base="gwml2:GW_AquiferUnitType">
				<sequence>
					<element name="gwSpatialConfinement" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Degree of confinement (typically: "Unconfined-Confined", "Partially Confined").</documentation>
						</annotation>
					</element>
					<element name="gwConductivityConfinement" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Degree of confinement (e.g. aquiclude).</documentation>
						</annotation>
					</element>
					<element name="gwConfinedAquifer" type="gwml2:GW_AquiferPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_ConfiningBedPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_ConfiningBed"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_UnitVoidProperty" type="gwml2:GW_UnitVoidPropertyType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>Properties inherent in the relation between a hydrogeologic unit and a void, related to the proportion of voids to the unit (porosity) or to the connectivity / size of openings of the voids within the unit (intrinsic permeability).</documentation>
		</annotation>
	</element>
	<complexType name="GW_UnitVoidPropertyType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="gwPermeability" type="om:OM_ObservationPropertyType">
						<annotation>
							<documentation>Refers to intrinsic permeability: a measure of a material's ability to allow fluid flow that is independent of fluid properties, and based on connectivity of pores and size of their openings.
Not hydraulic conductivity.</documentation>
						</annotation>
					</element>
					<element name="gwPorosity" type="om:OM_ObservationPropertyType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>"Porosity or void fraction is a measure of the void (i.e. "empty") spaces in a material, and is a fraction of the volume of voids over the total volume (i.e. material + voids)" (after Wikipedia)  Types of porosity include: specific, effective, etc.

Voids are differentiated from 'porosity' in that porosity is the proportion of void volume to total volume (i.e. container + voids), while voids are the spaces themselves. 
Measure of the proportion of volume occupied by a void over the the total volume of material +  voids (e.g. the material of an aquifer + its pores).</documentation>
						</annotation>
					</element>
					<element name="gwUnitFluidBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwUnitVoid" type="gwml2:GW_HydrogeoVoidPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_UnitVoidPropertyPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_UnitVoidProperty"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_Mixture" type="gwml2:GW_MixtureType" substitutionGroup="gml:AbstractGML"/>
	<complexType name="GW_MixtureType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="gwMixture" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>E.g.&lt;font color="#1f497d"&gt;solution, suspension, emulsion, precipitate&lt;/font&gt;</documentation>
						</annotation>
					</element>
					<element name="gwBodyConstituent" type="gwml2c:GW_ConstituentPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_MixturePropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_Mixture"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_UnitFluidProperty" type="gwml2:GW_UnitFluidPropertyType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>A measured or calculated physical or hydraulic property that can be inherent in either an aquifer or its material, and some fluid body, e.g. hydraulic conductivity, transmissivity, storativity, permeability, porosity. 

Note: in part called AquiferProperty in the FeatureList.</documentation>
		</annotation>
	</element>
	<complexType name="GW_UnitFluidPropertyType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="gwHydraulicConductivity" type="om:OM_ObservationPropertyType">
						<annotation>
							<documentation>Hydraulic conductivity describes how easily a fluid can move through the voids in a material. It can be measured by applying Darcy's law on the material. Such experiments can be conducted by creating a hydraulic gradient between two points, and measuring the flow rate (Oosterbaan and Nijland[1]). (Wikipedia)</documentation>
						</annotation>
					</element>
					<element name="gwStorativity" type="om:OM_ObservationPropertyType">
						<annotation>
							<documentation>Storativity is the volume of water released from storage per unit decline in hydraulic head in the aquifer, per unit area of the aquifer. (gwml1)</documentation>
						</annotation>
					</element>
					<element name="gwTransmissivity" type="om:OM_ObservationPropertyType">
						<annotation>
							<documentation>The rate which groundwater flows horizontally through an aquifer, based on hydraulic conductivity and container thickness. (Wikipedia)</documentation>
						</annotation>
					</element>
					<element name="gwYield" type="om:OM_ObservationPropertyType">
						<annotation>
							<documentation>Measurement of the yield in units of volume per unit of time.
Type of yields (of the aquifer or management area): e.g. specific yield, safe yield, etc. but  excludes well yield.  TBD</documentation>
						</annotation>
					</element>
					<element name="gwUnitFluidBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<!--<element name="gwFluidBodyUnit" type="gwml2:GW_UnitFluidPropertyPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/> -->
					<element name="gwFluidBodyUnit" type="gwml2:GW_HydrogeoUnitPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_UnitFluidPropertyPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2:GW_UnitFluidProperty"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_Licence" type="gwml2:GW_LicenceType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>A licence giving permission to drill, extract or use groundwater.</documentation>
		</annotation>
	</element>
	<complexType name="GW_LicenceType">
		<sequence>
			<element name="gwLicenceID" type="string" nillable="true">
				<annotation>
					<documentation>Identifier of the licence</documentation>
				</annotation>
			</element>
			<element name="gwPurpose" type="string" nillable="true">
				<annotation>
					<documentation>Role of the licence</documentation>
				</annotation>
			</element>
			<element name="gwAssociatedGWVolume" type="swe:QuantityRangePropertyType" nillable="true" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Groundwater volume associated with the licence.</documentation>
				</annotation>
			</element>
			<element name="gwTimePeriod" type="swe:TimeRangePropertyType" nillable="true">
				<annotation>
					<documentation>The period of time for which the licence is valid</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="GW_LicencePropertyType">
		<sequence>
			<element ref="gwml2:GW_Licence"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="ManagementAreaTypeTermType">
		<union memberTypes="gwml2:ManagementAreaTypeTermEnumerationType gwml2:ManagementAreaTypeTermOtherType"/>
	</simpleType>
	<simpleType name="ManagementAreaTypeTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ManagementAreaTypeTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
