gwml2-xml/src/main/xsd/gwml2-constituent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gwml2c="http://www.opengis.net/gwml-constituent/2.0" xmlns:gsmlem="http://xmlns.geosciml.org/EarthMaterial/3.2" targetNamespace="http://www.opengis.net/gwml-constituent/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>Describes the groundwater fluid body constituents and their relationships.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://xmlns.geosciml.org/EarthMaterial/3.2" schemaLocation="http://schemas.geosciml.org/earthmaterial/3.2/earthMaterial.xsd"/>
	<element name="GW_ChemicalConstituent" type="gwml2c:GW_ChemicalConstituentType" substitutionGroup="gwml2c:GW_Constituent">
		<annotation>
			<documentation>The characterisation of the chemical composition of the groundwater, both natural and man-made.

Related to "Groundwater Chemistry" in the EntityList.</documentation>
		</annotation>
	</element>
	<complexType name="GW_ChemicalConstituentType">
		<complexContent>
			<extension base="gwml2c:GW_ConstituentType">
				<sequence>
					<element name="gwChemical" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Chemical component type, e.g. arsenic.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_ChemicalConstituentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2c:GW_ChemicalConstituent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_BiologicConstituent" type="gwml2c:GW_BiologicConstituentType" substitutionGroup="gwml2c:GW_Constituent">
		<annotation>
			<documentation>The characterisation of the biological composition of the groundwater, both natural and man-made.

Related to "Groundwater Biology" in the EntityList.</documentation>
		</annotation>
	</element>
	<complexType name="GW_BiologicConstituentType">
		<complexContent>
			<extension base="gwml2c:GW_ConstituentType">
				<sequence>
					<element name="gwOrganism" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Biological species.</documentation>
						</annotation>
					</element>
					<element name="gwState" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_BiologicConstituentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2c:GW_BiologicConstituent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_Constituent" type="gwml2c:GW_ConstituentType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>modeled via O&amp;amp;M:
- GW_ChemicalConstituent is FOI with ChemicalTypeTerm = "As"
- ObservedProperty is As_Concentration

rationale:
- distinguish between different mixtures or states for the same constituent type
- distinguish between different measurement types, i.e. not just concentration</documentation>
		</annotation>
	</element>
	<complexType name="GW_ConstituentType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwState" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="gwConstituent" type="gwml2c:GW_ConstituentRelationPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="gwConstituedOf" type="gwml2c:GW_ConstituentRelationPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_ConstituentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2c:GW_Constituent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_MaterialConstituent" type="gwml2c:GW_MaterialConstituentType" substitutionGroup="gwml2c:GW_Constituent">
		<annotation>
			<documentation>Suspended or colloidal material in a gw body.</documentation>
		</annotation>
	</element>
	<complexType name="GW_MaterialConstituentType">
		<complexContent>
			<extension base="gwml2c:GW_ConstituentType">
				<sequence>
					<element name="gwMaterial" type="gwml2c:MaterialConstituentTermPropertyType" nillable="true">
						<annotation>
							<documentation>Description of the suspended of colloid material.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_MaterialConstituentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2c:GW_MaterialConstituent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_ConstituentRelation" type="gwml2c:GW_ConstituentRelationType" substitutionGroup="gml:AbstractGML"/>
	<complexType name="GW_ConstituentRelationType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="gwConstituentRelationType" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Type of relation between fluid body components, typically caused by a specific mechanism, e.g. coating (from adsorption), constitution (from chemical bonding forming a new material?), aggregation (from physical bonding, e.g. pressure), containment (from absorption, digestion).</documentation>
						</annotation>
					</element>
					<element name="gwConstituentRelationMechanism" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Mechanisms by which materials (of various states) come into a relationship, e.g. sorption, precipitation, digestion, excretion, etc.</documentation>
						</annotation>
					</element>
					<element name="gwConstitutedOf" type="gwml2c:GW_ConstituentPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gwConstituent" type="gwml2c:GW_ConstituentPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_ConstituentRelationPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2c:GW_ConstituentRelation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<group name="MaterialConstituentTerm">
		<choice>
			<element name="mineralName" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>Name of the mineral (eg: orthoclase) or mineral family (eg: feldspar), approved by the International Mineralogical Association. (eg: http://www.mindat.org/mineralindex.php)</documentation>
				</annotation>
			</element>
			<element name="lithology" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>A controlled concept indicating the name of the RockMaterial type (eg, quartz sandstone, basalt, muscovite schist, sand, mud, soil, saprolite). Igneous rock definitions are governed by IUGS agreed vocabulary</documentation>
				</annotation>
			</element>
		</choice>
	</group>
	<complexType name="MaterialConstituentTermPropertyType">
		<sequence minOccurs="0">
			<group ref="gwml2c:MaterialConstituentTerm"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attribute name="unionSemantics" type="gwml2c:MaterialConstituentTermUnionSemantics"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="MaterialConstituentTermUnionSemantics">
		<restriction base="string">
			<enumeration value="lithologyName"/>
			<enumeration value="mineralName"/>
		</restriction>
	</simpleType>
</schema>
