gwml2-xml/src/main/xsd/gwml2-well.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Eric Boisvert (Natural Resources Canada) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gwml2="http://www.opengis.net/gwml-nucleus/2.0" xmlns:swe="http://www.opengis.net/swe/2.0" xmlns:gsml="http://xmlns.geosciml.org/GeoSciML-Core/3.2" xmlns:gwml2w="http://www.opengis.net/gwml-well/2.0" xmlns:gwml2wc="http://www.opengis.net/gwml-wellconstruction/2.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" targetNamespace="http://www.opengis.net/gwml-well/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>Describes the features and properties associated with water well. Imports WellConstruction.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	<import namespace="http://xmlns.geosciml.org/GeoSciML-Core/3.2" schemaLocation="http://schemas.geosciml.org/geosciml-core/3.2/geosciml-core.xsd"/>
	<import namespace="http://www.opengis.net/gwml-nucleus/2.0" schemaLocation="http://ngwd-bdnes.cits.nrcan.gc.ca/service/gwml/schemas/gwml2-nucleus.xsd"/>
	<import namespace="http://www.opengis.net/gwml-wellconstruction/2.0" schemaLocation="http://ngwd-bdnes.cits.nrcan.gc.ca/service/gwml/schemas/gwml2-wellconstruction.xsd"/>
	<element name="GW_MonitoringSite" type="gwml2w:GW_MonitoringSiteType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>Observation site (e.g. well) used to watch for the advent of an anticipated condition, generally undesirable, such as the advance of the salt-water front in a coastal area where salt-water encroachment is occurring, or the movement of a pollutant injected into a disposal well. IGH0806</documentation>
		</annotation>
	</element>
	<complexType name="GW_MonitoringSiteType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="gwMonitoringHost" type="gml:FeaturePropertyType" nillable="true"/>
					<element name="gwSiteReferenceElevation" type="gwml2w:ElevationPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Reference elevation for all observations at the site, e.g. ground elevation, casing elevation. This can differ from the host feature elevation, or be more specific. </documentation>
						</annotation>
					</element>
					<element name="gwSiteType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>well, gauging station, etc.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_MonitoringSitePropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2w:GW_MonitoringSite"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_Spring" type="gwml2w:GW_SpringType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Any natural situation where groundwater flows to the surface of the earth.  </documentation>
		</annotation>
	</element>
	<complexType name="GW_SpringType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="gwSpringName" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Name or ID (if any).</documentation>
						</annotation>
					</element>
					<element name="gwSpringLocation" type="gml:GeometryPropertyType" nillable="true">
						<annotation>
							<documentation>Geometry / position of the feature.</documentation>
						</annotation>
					</element>
					<element name="gwSpringReferenceElevation" type="gwml2w:ElevationPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Reference elevation for all observations at the site, e.g. ground elevation, casing elevation.</documentation>
						</annotation>
					</element>
					<element name="gwSpringType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>e.g. mineral, thermal, saline, etc.</documentation>
						</annotation>
					</element>
					<element name="gwSpringCauseType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>e.g. artesian, geyser, perched, etc.</documentation>
						</annotation>
					</element>
					<element name="gwSpringGeology" type="gsml:GeologicFeaturePropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Related borehole, including lithology log.</documentation>
						</annotation>
					</element>
					<element name="gwSpringBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Gw body occupying the well.</documentation>
						</annotation>
					</element>
					<element name="gwSpringUnit" type="gwml2:GW_HydrogeoUnitPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwSpringConstruction" type="anyType" nillable="true">
						<annotation>
							<documentation>placeholder for eventual construction model</documentation>
						</annotation>
					</element>
					<element name="gwSpringPersistence" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>e.g. ephemeral, perennial, intermittent, seasonal, etc.</documentation>
						</annotation>
					</element>
					<element name="gwSpringLicence" type="gwml2:GW_LicencePropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Licence under which the groundwater is extracted.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_SpringPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2w:GW_Spring"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_GeologyLog" type="gwml2w:GW_GeologyLogType" substitutionGroup="om:OM_Observation">
		<annotation>
			<documentation>Specialization of the OM_Observation class to allow defining the log start end depth for coverages.

For Stratigraphic logs the observedProperty will be a GeoSciML:GeologicUnit/name.
For Lithologic logs the observedProperty will be a GeoSciML:GeologicUnit/composition/CompositionPart/material.</documentation>
		</annotation>
	</element>
	<complexType name="GW_GeologyLogType">
		<complexContent>
			<extension base="om:OM_ObservationType">
				<sequence>
					<element name="startDepth" type="swe:QuantityPropertyType" nillable="true"/>
					<element name="endDepth" type="swe:QuantityPropertyType" nillable="true"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_GeologyLogPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2w:GW_GeologyLog"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_Well" type="gwml2w:GW_WellType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>A shaft or hole sunk, dug or drilled into the Earth to extract water. IGH1379</documentation>
		</annotation>
	</element>
	<complexType name="GW_WellType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="gwWellBody" type="gwml2:GW_FluidBodyPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Gw body occupying the well.</documentation>
						</annotation>
					</element>
					<element name="gwWellConstructedDepth" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Constructed depth of the well. </documentation>
						</annotation>
					</element>
					<element name="gwWellConstruction" type="gwml2wc:BoreholePropertyType" nillable="true">
						<annotation>
							<documentation>placeholder for eventual construction model</documentation>
						</annotation>
					</element>
					<element name="gwWellContributionZone" type="gml:GeometryPropertyType" nillable="true" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The area surrounding a pumping well or other discharge site that encompasses all areas and features that supply groundwater to the well or discharge site. </documentation>
						</annotation>
					</element>
					<element name="gwWellLocation" type="gml:PointPropertyType" nillable="true">
						<annotation>
							<documentation>Geometry / position of the feature.</documentation>
						</annotation>
					</element>
					<element name="gwWellPurpose" type="gml:ReferenceType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Purpose of well, e.g. extraction, injection, observation, dewatering, cathodic protection, decontamination, disposal, FlowingShot, Geotechnical, Mineral, MonitoringlevelHead, MonitoringQuality,  Oil, OilExploratory, Seismic, WaterExploratory, etc.</documentation>
						</annotation>
					</element>
					<element name="gwWellReferenceElevation" type="gwml2w:ElevationPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Reference elevation for all observations at the site, e.g. ground elevation, casing elevation.</documentation>
						</annotation>
					</element>
					<element name="gwWellStaticWaterDepth" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<documentation>Depth of the groundwater (piezometric level). One of measurement.</documentation>
						</annotation>
					</element>
					<element name="gwWellStatus" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>Status of the well, Can be new, unfinished, reconditioned, deepened, not in use, standby, abandoned dry, abandoned insufficient, abandoned quality. (gwml1)</documentation>
						</annotation>
					</element>
					<element name="gwWellTotalLength" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>Total depth of the well. </documentation>
						</annotation>
					</element>
					<element name="gwWellUnit" type="gwml2:GW_HydrogeoUnitPropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="gwWellWaterUse" type="gml:ReferenceType" nillable="true" minOccurs="1" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
							<documentation>E.g. Agricultural, Domestic, Industrial, Recreation.</documentation>
						</annotation>
					</element>
					<element name="gwWellYield" type="om:OM_ObservationPropertyType" nillable="true">
						<annotation>
							<documentation>Estimated or calculated yield from a well.</documentation>
						</annotation>
					</element>
					<element name="gwWellLicence" type="gwml2:GW_LicencePropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Licence relating to the drilling of the well or to the extraction of groundwater.</documentation>
						</annotation>
					</element>
					<element name="gwWellGeology" type="gwml2w:GW_GeologyLogPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_WellPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2w:GW_Well"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Elevation" type="gwml2w:ElevationType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>A package to capture the elevation information about a well to enable applications that can not access 3D data.</documentation>
		</annotation>
	</element>
	<complexType name="ElevationType">
		<sequence>
			<element name="elevation" type="gml:DirectPositionType" nillable="true">
				<annotation>
					<documentation>Numeric value and CRS and UoM for the elevation</documentation>
				</annotation>
			</element>
			<element name="elevationAccuracy" type="gmd:DQ_PositionalAccuracy_PropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
			<element name="elevationType" type="gml:ReferenceType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
			<element name="elevationMeasurementMethod" type="gml:ReferenceType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ElevationPropertyType">
		<sequence>
			<element ref="gwml2w:Elevation"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="LogValue" type="gwml2w:LogValueType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="LogValueType">
		<sequence>
			<element name="fromDepth" type="swe:QuantityPropertyType" nillable="true"/>
			<element name="toDepth" type="swe:QuantityPropertyType" nillable="true"/>
			<element name="value" type="swe:DataRecordPropertyType" nillable="true"/>
			<element name="collection" type="gwml2w:GW_GeologyLogCoveragePropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="LogValuePropertyType">
		<sequence>
			<element ref="gwml2w:LogValue"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GW_GeologyLogCoverage" type="gwml2w:GW_GeologyLogCoverageType"/>
	<complexType name="GW_GeologyLogCoverageType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="element" type="gwml2w:LogValuePropertyType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GW_GeologyLogCoveragePropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2w:GW_GeologyLogCoverage"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
