gwml2-xml/src/main/xsd/gwml2-wellconstruction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Eric Boisvert (Natural Resources Canada) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gwml2wc="http://www.opengis.net/gwml-wellconstruction/2.0" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://www.opengis.net/gwml-wellconstruction/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
	<annotation>
		<documentation>Describes the well drilling and construction details.</documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	<element name="SealingComponent" type="gwml2wc:SealingComponentType" substitutionGroup="gwml2wc:ConstructionComponent">
		<annotation>
			<documentation>Description of the sealing used in the construction of a water well.</documentation>
		</annotation>
	</element>
	<complexType name="SealingComponentType">
		<complexContent>
			<extension base="gwml2wc:ConstructionComponentType">
				<sequence>
					<element name="sealingMaterial" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Material used in the sealing component of a water well. Can be formation packer, welded ring, shale trap, drive shoe, driven casing, other.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="sealingType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Describe the type of sealing. Can be annular sealing, pluging</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SealingComponentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:SealingComponent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoreCollar" type="gwml2wc:BoreCollarType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="BoreCollarType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="collarElevation" type="gml:DirectPositionType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="collarHeadworkType" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="collarLocation" type="gml:PointPropertyType" nillable="true"/>
					<element name="bholeDetails" type="gwml2wc:BoreholePropertyType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
					<element name="collarSeal" type="gwml2wc:SealingComponentPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreCollarPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:BoreCollar"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="WellConstruction" type="gwml2wc:WellConstructionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Construction components, use to describe how the well was built.  This information are important when assessing result of pump tests.</documentation>
		</annotation>
	</element>
	<complexType name="WellConstructionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType"/>
		</complexContent>
	</complexType>
	<complexType name="WellConstructionPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:WellConstruction"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Borehole" type="gwml2wc:BoreholeType" substitutionGroup="sams:SF_SpatialSamplingFeature"/>
	<complexType name="BoreholeType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="bholeMaterialCustodian" type="gmd:CI_ResponsibleParty_PropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Organisation that is custodian of the core, samples recovered from the borehole</documentation>
						</annotation>
					</element>
					<element name="bholeCoreInterval" type="gml:BoundingShapeType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="bHoleDateOfDrilling" type="gml:CalDate" nillable="true"/>
					<element name="bholeDriller" type="gmd:CI_ResponsibleParty_PropertyType" nillable="true" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>The organisation responsible for drilling the borehole (as opposed to commissioning the borehole)</documentation>
						</annotation>
					</element>
					<element name="bholeDrillingMethod" type="gml:ReferenceType" nillable="true"/>
					<element name="bholeInclinationType" type="gml:ReferenceType" nillable="true"/>
					<element name="bholeNominalDiameter" type="swe:QuantityPropertyType" nillable="true"/>
					<element name="bholeOperator" type="gmd:CI_ResponsibleParty_PropertyType" nillable="true">
						<annotation>
							<documentation>Organisation responsible for commissioning the borehole (as opposed to drilling the borehole)</documentation>
						</annotation>
					</element>
					<element name="bholeStartPoint" type="gml:ReferenceType" nillable="true">
						<annotation>
							<appinfo>
								<gml:defaultCodeSpace>#NOTES</gml:defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="bholeConstruction" type="gwml2wc:WellConstructionPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="bholeHeadworks" type="gwml2wc:BoreCollarPropertyType" nillable="true"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoreholePropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:Borehole"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ConstructionComponent" type="gwml2wc:ConstructionComponentType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>Elements used in constructions. Position is relative to the surface</documentation>
		</annotation>
	</element>
	<complexType name="ConstructionComponentType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="from" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>position of the top (nearest to the surface) of the component</documentation>
						</annotation>
					</element>
					<element name="to" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>position of the bottom (farthest to the surface) of the component</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ConstructionComponentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:ConstructionComponent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Filtration" type="gwml2wc:FiltrationType" substitutionGroup="gwml2wc:WellConstruction"/>
	<complexType name="FiltrationType">
		<complexContent>
			<extension base="gwml2wc:WellConstructionType">
				<sequence>
					<element name="filterElement" type="gwml2wc:FiltrationComponentPropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FiltrationPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:Filtration"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Screen" type="gwml2wc:ScreenType" substitutionGroup="gwml2wc:WellConstruction"/>
	<complexType name="ScreenType">
		<complexContent>
			<extension base="gwml2wc:WellConstructionType">
				<sequence>
					<element name="screenElement" type="gwml2wc:ScreenComponentPropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ScreenPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:Screen"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Casing" type="gwml2wc:CasingType" substitutionGroup="gwml2wc:WellConstruction"/>
	<complexType name="CasingType">
		<complexContent>
			<extension base="gwml2wc:WellConstructionType">
				<sequence>
					<element name="casingElement" type="gwml2wc:CasingComponentPropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CasingPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:Casing"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FiltrationComponent" type="gwml2wc:FiltrationComponentType" substitutionGroup="gwml2wc:ConstructionComponent">
		<annotation>
			<documentation>Material used to filter the water.</documentation>
		</annotation>
	</element>
	<complexType name="FiltrationComponentType">
		<complexContent>
			<extension base="gwml2wc:ConstructionComponentType">
				<sequence>
					<element name="filterGrainSize" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>Size of the particles of the filtration material.</documentation>
						</annotation>
					</element>
					<element name="filterMaterial" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Identification of the material used in the filtration device. 
Gravel, pit run, silica sand, washed sand, crushed rock, artificial (unspecified) unknown, other
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FiltrationComponentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:FiltrationComponent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ScreenComponent" type="gwml2wc:ScreenComponentType" substitutionGroup="gwml2wc:ConstructionComponent">
		<annotation>
			<documentation>Class used to details the various components of the water pump screen.</documentation>
		</annotation>
	</element>
	<complexType name="ScreenComponentType">
		<complexContent>
			<extension base="gwml2wc:ConstructionComponentType">
				<sequence>
					<element name="screenAttachmentMethod" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Identification of screen attachment method. Can be telescoped, on casing, on riser pipe, neoprene (K) packer, Lead packer, other, unknown.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="screenCoating" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Identification of the thin outer layer applied to the screen. Can be galvanized, stainless, copper bearing, low carbon, black, porous.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="screenForm" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Form of the screen. Can be slotted casing, perforated casing, bridge slot casing, wire wrap or continuous slot, wire mesh, shutter or louvered, well point, tube, unknown, other.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="screenHoleSize" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>Size of the slots or perforations of the screen.</documentation>
						</annotation>
					</element>
					<element name="screenMaterial" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Identification of the material with which the screen is made. Can be metal, steel, iron, copper, brass, bronze, everdur, Armco metal, veriperm, stone, plastic, PVC, ABS, Fibreglass.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="screenInternalDiameter" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>Value of the internal screen diameter.</documentation>
						</annotation>
					</element>
					<element name="screenExternalDiameter" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>Value of the external screen diameter.</documentation>
						</annotation>
					</element>
					<element name="screenPerforationMethod" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Information on how the slots were performated. Can be drill, grinder, axe / chisel, machine, saw, torch, other, unknown.</documentation>
						</annotation>
					</element>
					<element name="screenFitting" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Identification of the screen fitting (from the bottom). Can be bail, open, plug, tail pipe, washdown, unknown.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="screenMake" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Make of the screen.</documentation>
						</annotation>
					</element>
					<element name="screenModel" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Model of the screen</documentation>
						</annotation>
					</element>
					<element name="screenNumber" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Screen number corresponds to hole size and is given in 0.001 inch. The value is expressed as an alphanumeric code.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="screenPlacement" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Value of thescreen placement method. Can be bail down, pull back, jetted, washed down, unknown.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="screenWallThickness" type="swe:QuantityPropertyType" nillable="true">
						<annotation>
							<documentation>Thickness of the screen walls.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ScreenComponentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:ScreenComponent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Sealing" type="gwml2wc:SealingType" substitutionGroup="gwml2wc:WellConstruction"/>
	<complexType name="SealingType">
		<complexContent>
			<extension base="gwml2wc:WellConstructionType">
				<sequence>
					<element name="sealingGroutingPlacementMethod" type="gml:ReferenceType" nillable="true"/>
					<element name="casingLeft" type="gwml2wc:CasingComponentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="casingSlit" type="gwml2wc:CasingComponentPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="sealingElement" type="gwml2wc:SealingComponentPropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SealingPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:Sealing"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CasingComponent" type="gwml2wc:CasingComponentType" substitutionGroup="gwml2wc:ConstructionComponent">
		<annotation>
			<documentation>A single part of a well casing</documentation>
		</annotation>
	</element>
	<complexType name="CasingComponentType">
		<complexContent>
			<extension base="gwml2wc:ConstructionComponentType">
				<sequence>
					<element name="casingMaterial" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Material in which the casing is made. Can be metal, steel, iron, concrte, wood, brick, plastic, teflon, PVC, ABS, Fibreglass, asbestos cement, unknow, other.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
						</annotation>
					</element>
					<element name="casingCoating" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Coating applied to the casing. Can be galvanized, stainless, mild, low carbon, copper bearing, black, porous.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
						</annotation>
					</element>
					<element name="casingForm" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>Form of material used in the casing. Can be curbing, cribbing, corrugated, culvert, hose, pipe - casing - tubing.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
						</annotation>
					</element>
					<element name="casingInternalDiameter" type="swe:QuantityPropertyType">
						<annotation>
							<documentation>Value of the pipe (casing) internal diameter.</documentation>
						</annotation>
					</element>
					<element name="casingExternalDiameter" type="swe:QuantityPropertyType">
						<annotation>
							<documentation>Value of the pipe (casing) external diameter.</documentation>
						</annotation>
					</element>
					<element name="casingWallThickness" type="swe:QuantityPropertyType">
						<annotation>
							<documentation>Value of the thickness of the wall of the casing.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CasingComponentPropertyType">
		<sequence minOccurs="0">
			<element ref="gwml2wc:CasingComponent"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="ScreenModelTermType">
		<union memberTypes="gwml2wc:ScreenModelTermEnumerationType gwml2wc:ScreenModelTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenModelTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenModelTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="FiltrationMaterialTermType">
		<union memberTypes="gwml2wc:FiltrationMaterialTermEnumerationType gwml2wc:FiltrationMaterialTermOtherType"/>
	</simpleType>
	<simpleType name="FiltrationMaterialTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="FiltrationMaterialTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="BoreholeInclinationTermType">
		<union memberTypes="gwml2wc:BoreholeInclinationTermEnumerationType gwml2wc:BoreholeInclinationTermOtherType"/>
	</simpleType>
	<simpleType name="BoreholeInclinationTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="BoreholeInclinationTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenCoatingTermType">
		<union memberTypes="gwml2wc:ScreenCoatingTermEnumerationType gwml2wc:ScreenCoatingTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenCoatingTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenCoatingTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="SealingMaterialTermType">
		<union memberTypes="gwml2wc:SealingMaterialTermEnumerationType gwml2wc:SealingMaterialTermOtherType"/>
	</simpleType>
	<simpleType name="SealingMaterialTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="SealingMaterialTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="SealingTypeTermType">
		<union memberTypes="gwml2wc:SealingTypeTermEnumerationType gwml2wc:SealingTypeTermOtherType"/>
	</simpleType>
	<simpleType name="SealingTypeTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="SealingTypeTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenMaterialTermType">
		<union memberTypes="gwml2wc:ScreenMaterialTermEnumerationType gwml2wc:ScreenMaterialTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenMaterialTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenMaterialTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="AttachmentMethodTermType">
		<union memberTypes="gwml2wc:AttachmentMethodTermEnumerationType gwml2wc:AttachmentMethodTermOtherType"/>
	</simpleType>
	<simpleType name="AttachmentMethodTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="AttachmentMethodTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="PerforationMethodTermType">
		<union memberTypes="gwml2wc:PerforationMethodTermEnumerationType gwml2wc:PerforationMethodTermOtherType"/>
	</simpleType>
	<simpleType name="PerforationMethodTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="PerforationMethodTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenMakerTermType">
		<union memberTypes="gwml2wc:ScreenMakerTermEnumerationType gwml2wc:ScreenMakerTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenMakerTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenMakerTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenNumberTermType">
		<union memberTypes="gwml2wc:ScreenNumberTermEnumerationType gwml2wc:ScreenNumberTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenNumberTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenNumberTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="CasingCoatingTermType">
		<union memberTypes="gwml2wc:CasingCoatingTermEnumerationType gwml2wc:CasingCoatingTermOtherType"/>
	</simpleType>
	<simpleType name="CasingCoatingTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="CasingCoatingTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="CasingFormTermType">
		<union memberTypes="gwml2wc:CasingFormTermEnumerationType gwml2wc:CasingFormTermOtherType"/>
	</simpleType>
	<simpleType name="CasingFormTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="CasingFormTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="BoreholeDrillingMethodTermType">
		<union memberTypes="gwml2wc:BoreholeDrillingMethodTermEnumerationType gwml2wc:BoreholeDrillingMethodTermOtherType"/>
	</simpleType>
	<simpleType name="BoreholeDrillingMethodTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="BoreholeDrillingMethodTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="CasingMaterialTermType">
		<union memberTypes="gwml2wc:CasingMaterialTermEnumerationType gwml2wc:CasingMaterialTermOtherType"/>
	</simpleType>
	<simpleType name="CasingMaterialTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="CasingMaterialTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="BoreholeStartPointTermType">
		<union memberTypes="gwml2wc:BoreholeStartPointTermEnumerationType gwml2wc:BoreholeStartPointTermOtherType"/>
	</simpleType>
	<simpleType name="BoreholeStartPointTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="BoreholeStartPointTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenFormTermType">
		<union memberTypes="gwml2wc:ScreenFormTermEnumerationType gwml2wc:ScreenFormTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenFormTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenFormTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenPlacementTermType">
		<union memberTypes="gwml2wc:ScreenPlacementTermEnumerationType gwml2wc:ScreenPlacementTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenPlacementTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenPlacementTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ScreenFittingTermType">
		<union memberTypes="gwml2wc:ScreenFittingTermEnumerationType gwml2wc:ScreenFittingTermOtherType"/>
	</simpleType>
	<simpleType name="ScreenFittingTermEnumerationType">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ScreenFittingTermOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
