iso19139-c3-xml/src/main/xsd/extensions/c3alpsExtensions_backup.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Lieferanten Buchhaltung (University of Salzburg) -->
<xs:schema xmlns:c3alps="http://localhost:8080/c3alps" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml" xmlns:srv="http://www.isotc211.org/2005/srv" targetNamespace="http://localhost:8080/c3alps" elementFormDefault="qualified" version="1.4">
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="../gts/gts.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/srv" schemaLocation="../srv/srv.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/gml.xsd"/>
	<xs:annotation>
		<xs:documentation>
C3Alps-Schema Extensoin, based on MCP-Example (c) 2013 Z_GIS, Hubert Asamer
		</xs:documentation>
	</xs:annotation>
	<!-- ====================================================================== -->
	<!-- Add elements to MD_DataIdentification -->
	<!-- ====================================================================== -->
	<!-- The data parameters definitions -->
	<!-- NOTE: for geonetwork to be able to determine which elements to add 
     during editing it is MANDATORY to extend the MD_Metadata element
     with a namespace representing the profile - geonetwork can then look at
     the prefix of the root node when it tries to work out which elements
     to substitute during schema parsing -->
	<!-- ====================================================================== -->
	<!-- Add revisionDate to gmd:MD_Metadata -->
	<!-- ====================================================================== -->
	<xs:complexType name="MD_Metadata_Type">
		<xs:annotation>
			<xs:documentation>
Extends the metadata element to include revisionDate 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Metadata_Type">
				<xs:sequence>
					<xs:element name="revisionDate" type="gco:Date_PropertyType" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Metadata"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_Metadata" type="c3alps:MD_Metadata_Type" substitutionGroup="gmd:MD_Metadata"/>
	<xs:complexType name="MD_Metadata_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="c3alps:MD_Metadata"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- DEPRECATED - elements below this are present but their use is          -->
	<!-- no longer supported and they may be deleted in future versions         -->
	<!-- ====================================================================== -->
	<!-- ====================================================================== -->
	<!-- Add MD_CreativeCommons as a substitute for MD_Constraints -->
	<!-- ====================================================================== -->
	<xs:element name="MD_CreativeCommons" type="c3alps:MD_CreativeCommonsConstraints_Type" substitutionGroup="gmd:MD_Constraints"/>
	<xs:complexType name="MD_CreativeCommonsConstraints_Type">
		<xs:annotation>
			<xs:documentation>
				Add MD_CreativeCommons as an extension of gmd:MD_Constraints_Type
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Constraints_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="jurisdictionLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="imageLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseName" type="gco:CharacterString_PropertyType" minOccurs="1"/>
					<xs:element name="attributionConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="otherConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ====================================================================== -->
	<!-- Add MD_DataCommons as a substitute for MD_Constraints -->
	<!-- ====================================================================== -->
	<xs:element name="MD_DataCommons" type="c3alps:MD_DataCommonsConstraints_Type" substitutionGroup="gmd:MD_Constraints"/>
	<xs:complexType name="MD_DataCommonsConstraints_Type">
		<xs:annotation>
			<xs:documentation>
				Add MD_DataCommons as an extension of gmd:MD_Constraints_Type
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Constraints_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="jurisdictionLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="imageLink" type="gmd:URL_PropertyType" minOccurs="1"/>
					<xs:element name="licenseName" type="gco:CharacterString_PropertyType" minOccurs="1"/>
					<xs:element name="attributionConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="derivativeConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="commercialUseConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="collectiveWorksConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="otherConstraints" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_C3MetaData" type="c3alps:MD_C3MetaData_Type" substitutionGroup="gmd:MD_ExtendedElementInformation"/>
	<xs:complexType name="MD_C3MetaData_Type">
		<xs:annotation>
			<xs:documentation>
				Add C3-Elements
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_ExtendedElementInformation_Type">
				<xs:sequence minOccurs="0">
					<xs:element name="c3exposure" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="c3exposureTypeofProduct" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								
								<xs:element name="c3exposureMainTargetGroups" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3exposureSRES" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exposureGCM" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exposureStatisticalDownScaling" type="gco:Boolean_PropertyType"/>
								<xs:element name="c3exposureOtherMethodsClimateMod" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exposureTimeHorizon" type="gco:DateTime_PropertyType"/>
								<xs:element name="c3exposureModelAreaAssessed" type="gco:CharacterString_PropertyType" minOccurs="0"/>
								<xs:element name="c3exposureClimModelGridResolutionMeter" type="gco:Integer_PropertyType" minOccurs="0"/>
								<xs:element name="c3exposureResultsBiasCorrected" type="gco:Boolean_PropertyType"/>
								<xs:element name="c3exposureOutputParamsAvailable" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exposureUncertaintyRangesEstimated" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exposureEvaluationModelPerformance" type="gco:Boolean_PropertyType" minOccurs="0"/>
								<xs:element name="c3exposureGradeofInnovation" type="gco:CodeListValue_Type" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="c3impacts_vulnerabilities" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="c3impactsTypeOfProduct" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3impactsTypeofAssessment" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3impactsMainTargetGroups" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3impactsMainAdaptation" type="gco:CodeListValue_Type"/>
								<xs:element name="c3impactsOtherAdaptations" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3impactsMainClimateImpacts" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3impactsNUTS3Covered" type="gmd:EX_Extent_PropertyType" maxOccurs="unbounded"/>
								<xs:element name="c3impactsAssessmentScale" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3impactsLevelOfResolution" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3impactsAssessmentMethods" type="gco:CharacterString_PropertyType"/>
								<xs:element name="c3impactsDataSources" type="gco:CharacterString_PropertyType"/>
								<xs:element name="c3impactsStakeholderInteractions" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3impactsTimeHorizon" type="gco:DateTime_PropertyType"/>
								<xs:element name="c3impactsUncertainties" type="gco:CharacterString_PropertyType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="c3ccap" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="c3ccapTypeOfPolicy" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3ccapPolicyLevel" type="gco:CodeListValue_Type"/>
								<xs:element name="c3ccapStatus" type="gco:CodeListValue_Type"/>
								<xs:element name="c3ccapLevelOfObligation" type="gco:CodeListValue_Type"/>
								<xs:element name="c3ccapAdaptationsSectorsCovered" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3ccapRegardToSectors" type="gco:CodeListValue_Type"/>
								<xs:element name="c3ccapMainTargetGroups" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3ccapRealtionshipToMitigation" type="gco:CodeListValue_Type"/>
								<xs:element name="c3ccapImplementationOrientation" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3ccapExAnteImpactAssessment" type="gco:Boolean_PropertyType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="c3adaptationOptions" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="c3adaptMainTargetGroups" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3adaptMainLevelOfTargetGroups" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3adaptMainAdaptationSector" type="gco:CodeListValue_Type"/>
								<xs:element name="c3adaptOtherAdaptationSectors" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3adaptLevelofImplementation" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3adaptRegardToSectors" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3adaptReletionshipToMitigation" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3adaptGeoRef" type="gmd:EX_Extent_PropertyType"/>
								<xs:element name="c3adaptMainLevelOfImplementation" type="gco:CodeListValue_Type"/>
								<xs:element name="c3adaptAdapationGoals" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3adaptTypeOfMeasure" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3adaptAdaptationCosts" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3adaptLevel2ImplementationPlanning" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3adaptLevel2ImplementedAdaptationActivities" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3adaptLevel2ExAnteImpactAssessment" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3adaptLevel2GradeOfInnovation" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3adaptLevel2SubLevelsOfMainAdaptationSector" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3adaptLevel2TimeHorizon" type="gco:DateTime_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3adaptLevel2Transferability" type="gco:CodeListValue_Type" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="c3tools" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="c3toolsTypeOfProduct" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3toolsMainTargetGroupOfResults" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3toolsMainLevelOfTargetGroups" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3toolsRegardToSectors" type="gco:CodeListValue_Type"/>
								<xs:element name="c3toolsMainImpact" type="gco:CodeListValue_Type"/>
								<xs:element name="c3toolsSubLevelsOfMainImpact" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3toolsOtherImpacts" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3toolsPurpose" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3toolsGoalAssessment" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3toolsGoalAdapationManagement" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3toolsGoalAdaptationGovernance" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3toolsGoalStakeholderInteraction" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3toolsLevel2MethodsNeeded" type="gco:CharacterString_PropertyType" minOccurs="0"/>
								<xs:element name="c3toolsLevel2GeoRef" type="gmd:EX_Extent_PropertyType" minOccurs="0"/>
								<xs:element name="c3toolsLevel2SpatialUnit" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3toolsLevel2Tarnsferability" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3toolsLevel2GradeOfInnovation" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3toolsLevel2Applicability" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3toolsLevel2ProvenTrack" type="gco:CharacterString_PropertyType" minOccurs="0"/>
								<xs:element name="c3toolsLevel3TimeNeeded" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3toolsLevel3Costs" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3toolsLevel3InputData" type="gco:CodeListValue_Type" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="c3examples" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="c3exampTypeOfProduct" type="gco:CodeListValue_Type"/>
								<xs:element name="c3exampMainAdaptation" type="gco:CodeListValue_Type"/>
								<xs:element name="c3exampMainAdaptationSector" type="gco:CodeListValue_Type"/>
								<xs:element name="c3exampOtherAdaptationSectors" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampMainClimateChangeImpacts" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampMainTargetGroups" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampMainImplementationLevel" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampRegardToSectors" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampRelationshipToMitigation" type="gco:CodeListValue_Type" minOccurs="0"/>
								<xs:element name="c3exampSpatialUnitOfImplementation" type="gco:CodeListValue_Type" maxOccurs="unbounded"/>
								<xs:element name="c3exampAdapationGoals" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampTypesOfMeasures" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampLevel2MeetingOfQualityCriteria" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3exampLevel2Transferability" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="c3caseStudies" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="c3caseGeoRef" type="gmd:EX_Extent_PropertyType"/>
								<xs:element name="c3caseLevelOfTerretory" type="gco:CodeListValue_Type"/>
								<xs:element name="c3caseTypesOfInformationProduced" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3caseContentCategoryImpacts" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3caseContentCategoryAdaptation" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3caseContentCategoryAdaptationOptions" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="c3caseStakeholderInteractions" type="gco:CodeListValue_Type" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Constraints"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
</xs:schema>
